{% block selling_items_list %}
    <sw-page class="selling-items-list">
        {% block selling_items_list_smart_bar_header %}
            <template #smart-bar-header>
                {% block selling_items_list_smart_bar_header_title %}
                    <h2>{{ $tc('selling-items.list.textTitle') }}</h2>
                {% endblock %}
            </template>
        {% endblock %}

        {% block selling_items_list_smart_bar_actions %}
            <template #smart-bar-actions>
                {% block selling_items_list_smart_bar_actions_add %}
                    <sw-button
                        :routerLink="{ name: 'selling.items.index.create' }"
                        variant="primary">
                        {{ $tc('selling-items.list.buttonAddItem') }}
                    </sw-button>
                {% endblock %}
            </template>
        {% endblock %}

        {% block selling_items_list_content %}
            <template #content>
                {% block selling_items_list_content_list %}
                    <sw-entity-listing
                        v-if="items"
                        :items="items"
                        :repository="repository"
                        :showSelection="false"
                        :columns="columns"
                        detailRoute="selling.items.index.detail"
                        :isLoading="isLoading"
                        @update-records="updateTotal">
                    </sw-entity-listing>
                {% endblock %}
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}